<section>
  <div class="about-container">
    <img src="/images/abdulrahman_pic.jpg" width="200" alt="Profile Picture">
    <h2>About Me</h2>
    <p>
      Welcome to my portfolio! I'm Abdulrahman Laoye. I am a passionate Web Developer excited about front-end and back-end development tools such as JavaScript, HTML, CSS, Mongoose, Express.js, Bootstrap, and React.js. I have a sharp eye for design aesthetics and pay close attention to detail. I work well with others in team settings to reach project goals. Skilled at solving problems and have a knack for thinking visually to create user-friendly and visually pleasing websites. Eager to work on creative projects and improve my web development skills continuously.
    </p>

    <h2>Key Skills</h2>

    <h3>Technical Skills:</h3>
    <ul>
        <li>Software development in JavaScript</li>
        <li>Debugging</li>
        <li>Mobile-compatible designs</li>
        <li>Microsoft SQL Server</li>
        <li>Website Optimisation</li>
        <li>Static and dynamic web development</li>
        <li>Frontend web development</li>
        <li>Backend integration</li>
        <li>Single-page application development with libraries such as React.js</li>
        <li>Web Application Programming Interface (API) integration</li>
    </ul>

    <h3>Soft Skills:</h3>
    <ul>
        <li>Communication</li>
        <li>Problem-solving</li>
        <li>Adaptability</li>
        <li>Attention to Detail</li>
        <li>Time management</li>
        <li>Teamwork</li>
        <li>Critical thinking</li>
        <li>Patience</li>
        <li>Continuous learning</li>
    </ul>
  </div>
</section>
