<!-- Navigation bar for navigating between different sections of the application -->
<nav>
  <ul>
    <!-- Navigation link to the Home component -->
    <!-- 'routerLink' specifies the route to navigate to, and 'routerLinkActive' adds the 'active' class when the route is active -->
    <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>

    <!-- Navigation link to the About component -->
    <li><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>

    <!-- Navigation link to the Portfolio component -->
    <li><a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>

    <!-- Navigation link to the Contact component -->
    <li><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>

<!-- Placeholder for routing content -->
<!-- 'router-outlet' dynamically loads the component associated with the active route -->
<router-outlet></router-outlet>

<footer>
  <a href="https://github.com/Abdulrahman843" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/abdulrahman-laoye-0bb28b105" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</footer>
